body, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}


header {
    width: 100%;
    background-color: #faf9f6;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(216, 216, 216);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
}

header > .top {
    max-width: 1440px;
    margin: 0 auto;
    padding: 8px 2px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: gray;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(235, 235, 235);
}

header > .top .menu_1 {
    cursor: pointer;
    transition: all .3s;
}

header > .top .menu_1:last-child {
    margin-left: 1.5em;
}

header > .top .menu_1:hover {
    color: rgb(37, 37, 37)
}

header > .main_header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 8px 0;
    height: 5rem;
    display: flex;
    align-items: center;
}

header > .main_header > .logo {
    font-size: 30px;
    font-weight: bold;
    color: rgb(37, 37, 37);
    cursor: pointer;
}

header > .main_header > .gnb {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

header > .main_header > .gnb > ul {
    display: flex;
    margin-left: 2.5rem;
}

header > .main_header > .gnb > ul > li > a {
    display: block;
    padding: 20px;
    color: gray;
    font-size: 14px;
    transition: color .3s;
}

header > .main_header > .gnb > ul > li > a:hover {
    color: #111;
}

header > .main_header > .holder {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    color: rgb(63, 63, 63);
    gap: 20px;
}

header > .main_header > .holder > .icon {
    cursor: pointer;
    transition: color .3s;
}

header > .main_header > .holder > .icon:hover {
    color: gray;
}

header > .main_header > .holder > .icon_cart {
    position: relative;
}

header > .main_header > .holder > .icon_cart > .circle {
    position: absolute;
    top: -5px;
    left: 15px;
    background-color: rgb(63, 63, 63);
    width: 14px;
    height: 14px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
}